@import url("./Fonts/font-face.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Sahel;
}
* {
  margin: 0;
}
html,
body {
  font-family: Sahel;
}
body {
  height: 100%;
  margin: 0;
  background-color: rgb(238, 238, 238);
  background: linear-gradient(
    to bottom right,
    rgb(141, 42, 255),
    rgb(136, 0, 255)
  ); 
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h3{
  font-size: 22px;
}
.app {
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 13px;
  background: #eeeeee;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}
.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label:nth-child(1){
  margin-top: 30px;
}
.label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 19px;
  position: relative;
}
.input {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
  height: 45px;
  margin: 10px 0;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  box-shadow: 3px 3px 5px 00 rgb(188, 188, 188);
}
.input.wrong {
  border: 2px solid rgb(255, 0, 0);
}
.input.corect {
  border: 2px solid rgb(27, 133, 0);
}
.input:focus{
  /* outline: 2px 5px solid rgb(119, 0, 255); */
}
.submit{
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  height: 60px;
  min-width: 100px;
  cursor: pointer;
  background-color: rgb(119, 0, 255);
  color: white;
  font-size: 20px;
}
ion-icon{
  display: none;
  visibility:visible
}
ion-icon.red{
  font-size: 30px;
  position: absolute;
  left: 10px;
  top: 46px;
  color: red;
}
ion-icon.green{
  font-size: 30px;
  position: absolute;
  left: 10px;
  top: 46px;
  color: green;
}
.alertText{
  color: red;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,175%);
  width: 100%;
  text-align: center;
}
.alertText2{
  color: red;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}