@import url("./Fonts/font-face.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Sahel;
}
* {
  margin: 0;
}
html,
body {
  font-family: Sahel;
}
body {
  height: 100%;
  margin: 0;
  background-color: rgb(238, 238, 238);
  background: linear-gradient(
    to bottom right,
    rgb(245, 245, 245),
    rgb(145, 145, 145)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.app {
  background-color: rgb(255, 255, 255);
  min-width: 400px;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 13px;
  background: #e0e0e0;
  box-shadow: 5px 5px 11px #b8b8b8, -5px -5px 11px #ffffff;
}
.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label:nth-child(1){
  margin-top: 40px;
}
.label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 18px;
  position: relative;
}
.input {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
  height: 45px;
  margin: 10px 0;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  box-shadow: 3px 3px 5px 00 rgb(188, 188, 188);
}
.input:focus{
  outline: 2px solid rgb(119, 0, 255);
}
.sia{
  display: flex;
  justify-content: center;
}
.submit{
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  height: 60px;
  min-width: 100px;
  cursor: pointer;
  background-color: rgb(119, 0, 255);
  color: white;
  font-size: 20px;
}
ion-icon.red{
  font-size: 30px;
  position: absolute;
  left: 10px;
  top: 47px;
  color: red;
}
ion-icon.green{
  font-size: 30px;
  position: absolute;
  left: 10px;
  top: 47px;
  color: green;
}